# OSC Documentation Codeowners

# These owners will be the default owners for everything in the repository.
* @thatguyllc @ranchhand87 @nc6

# General reviewers per PR
#                        Christian   Tex          Nick
*                        @thatguyllc @ranchhand87 @nc6  
